/*Resets auxiliares*/
/*Resets*/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section,figure { 
	margin: 0; 
	padding: 0;
	border: 0
}

ul,ol{
    list-style: none
}

/*o width dos elementos agora será a soma do conteúdo com a borda e o padding.*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
/*Fim resets*/

/*Clear fix, Importante para ajudar nos problemas com float
https://css-tricks.com/snippets/css/clear-fix/
*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/*Fim clearfix*/

/*Estilo geral*/
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px
}

p{
    font-size: 16px
}

a{
    text-decoration: none
}

.currentContent{
    border-bottom: 2px solid red
}

/*Fim estilo geral*/

/*Layout*/
body{
    background-color: #fff;
    width: 980px;
    margin: 0 auto
}

#header{
    height: 65px
}

#content section{
    padding: 100px 0  
}

#header,#footer{
    background-color: #4A148C;
    color: #fff
}

#header{
   width: 980px;
   position: fixed;
   z-index: 100;
   top: 0
}

#header h1{
    float: left;
    padding: 12px
}

#main-nav{
    float: right;
    padding: 22.5px
}

#main-nav ul li{
    display: inline
}

#main-nav a{
    padding: 15px;
    color: #fff
}

#content h1{
    text-align: center
}

/*Fim layout*/


/*Home*/

#home figure{
    float: left
}

#home p{
    line-height: 1.5;
    float: right;
    width: 400px
}

/*Portfolio*/

#portfolio figure{
    float: left;
    max-width: 320px;
    padding: 10px;
}

#portfolio img{
    width: 300px
}

/*Sobre*/

#sobre p{
    display: inline-block;
    width: 450px;
    line-height: 1.5;
    margin: 0 0 30px 30px;
}

/*footer*/

#footer p{
    text-align: center;
    padding: 30px
}





