/*Resets auxiliares*/
/*Resets*/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section,figure { 
	margin: 0; 
	padding: 0;
	border: 0
}

ul,ol{
    list-style: none
}

/*o width dos elementos agora será a soma do conteúdo com a borda e o padding.*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
/*Fim resets*/

/*Clear fix, Importante para ajudar nos problemas com float
https://css-tricks.com/snippets/css/clear-fix/
*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/*Fim clearfix*/

/*Estilo geral*/
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px; 
}

p{
    font-size: 0.88em; /*16/18*/
}

a{
    text-decoration: none
}

.currentContent{
    border-bottom: 2px solid red
}

/*Fim estilo geral*/

/*Layout*/
body{
    background-color: #fff;
    width: 100%;
    margin: 0 auto
}

#header{
    /*height: 65px; */
    height: 6.63%; /*65/980*/
}

#content section{
    padding: 0.102em 0  
}

#header,#footer{
    background-color: #4A148C;
    color: #fff
}

#header{
   width: 100%;/*980*/
   position: fixed;
   z-index: 100;
   top: 0
}

#header h1{
    float: left;
    padding: 0.066em
}

#main-nav{
    float: right;
    padding: 0.022em
}

#main-nav ul li{
    display: inline
}

#main-nav a{
    padding: 0.015em;
    color: #fff
}

#content h1{
    text-align: center
}

/*Fim layout*/


/*Home*/
/*@media menu_principal and (max-width:640px){
    .aside-nav{
        display: none
    }
}*/
#home figure{
    float: left;
    width: 32.65%;
}

#home p{
    line-height: 1.5;
    float: right;
    width: 40.81%;
}

/*Portfolio*/

#portfolio figure{
    float: left;
    max-width: 32.65%;
    padding: 0.102em;
}

#portfolio img{
    width: 100%
}

/*Sobre*/

#sobre p{
    display: inline-block;
    width: 45.91%;
    line-height: 1.5;
    margin: 0 0 0.030em 0.030em;
}

/*footer*/

#footer p{
    text-align: center;
    padding: 0.030em
}